*{
    box-sizing: border-box;
}
body{
    background-color:antiquewhite
}
header{
    height: 100vh;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}